.modalBackground {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.836);
    display: none;
    justify-content: center;
    align-items: center;
}
.modalJanela {
    position: relative;
    width: 700px;
    background-color: #fff;
    padding: 25px;
    max-height: 600px;
    margin: 10px;
}
.modalJanela span {
    position: absolute;
    top: 8px;
    right: 15px;
    color: rgb(131, 14, 14);
    font-weight: 800;
    cursor: pointer;
}
.modalJanela .modalTable {
    width: 100%;
}
.divTable {
    height: 400px;
    overflow-y: auto;
}
.modalJanela .modalTable thead th {
    padding: 10px 0 10px 5px;
    border-bottom: 1px solid black;
}
.modalJanela .modalTable tbody tr {
    border-bottom: 1px solid #a1a1a157;
}
.modalJanela .modalTable tbody tr td{
    padding: 10px 0 10px 5px;
}
.modalJanela .modalTable tbody tr th {
    padding-left: 5px;
}
.modalTable td,
.table td {
    word-wrap: break-word;
    word-break: break-word;
}



/* SCROLL DO MODAL  */
.divTable::-webkit-scrollbar {
    width: 12px;
}
.divTable::-webkit-scrollbar-track {
    background: #ffffff;
}
.divTable::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    border-radius: 20px;
    border: 3px solid #ffffff;
}

.btn {
    margin: 1px;
}

@media screen and (max-width: 945px) {
    .p-5 {
        padding: 4rem 1.2rem !important;
    }
}
@media screen and (max-width: 767px) {
    .p-5 {
        padding: 5.3rem 1.2rem !important;
    }
}
@media screen and (max-width: 619px) {
    /* .bd-example {
        overflow: auto;
    } */
    .table thead tr th:nth-child(2),
    .table thead tr th:nth-child(4),
    .table tbody tr td:nth-child(2),
    .table tbody tr td:nth-child(4){
        display: none;
    }
}
@media screen and (max-width: 343px) {
    .table thead tr th:nth-child(1),
    .table tbody tr th:nth-child(1){
        display: none;
    }
    .table .btn {
        font-size: 14px !important;
    }
    main > .my-5 > h1 {
        text-align: center;
    }
    main > .my-5 > a{
        width: 100%;
    }
}