.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.829);
}
.modal-window {
    position: relative;
    width: 340px;
    /* height: 300px; */
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.modal-window p {
    font-size: 19px;
}
.modal-window input {
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.548);
    border-radius: .25rem;
    outline: 0;
}
.modal-window label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.modal-window label input {
    width: 80px;
}
.modal-window span {
    position: absolute;
    display: inline-block;
    top: 5px;
    right: 10px;
    color: rgb(173, 9, 9);
    font-weight: 800;
}
.modal-window span:hover {
    cursor: pointer;
}